.list-style {
  list-style-type: none;
  margin: 20px;
}
.button-style {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.emoji-style {
  height: 50px;
  width: 50px;
}
@media screen and (min-width: 768px) {
  .emoji-style {
    height: 70px;
    width: 70px;
  }
}
.emoji-heading-style {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  color: #1e293b;
}

@media screen and (min-width: 768px) {
  .emoji-heading-style {
    font-size: 28px;
  }
}
